:root {
  --color-yellow: #ffde16;
  --color-magenta: #8f0d56;
  --color-orange: #fd9014;
  --color-charcoal: #33342e;
  --color-charcoal-dark: #12130D;
  --color-willow: #e3eddf;
  --color-surface: var(--color-charcoal-dark);
  --elevation-shadow-1dp: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
  --elevation-shadow-2dp: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
  --elevation-shadow-3dp: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.20);
  --elevation-shadow-4dp: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.20);
  --elevation-shadow-6dp: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.20);
  --elevation-shadow-8dp: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.20);
  --elevation-shadow-12dp: 0 12px 17px 2px rgba(0,0,0,0.14), 0 5px 22px 4px rgba(0,0,0,0.12), 0 7px 8px -4px rgba(0,0,0,0.20);
  --elevation-shadow-16dp: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.20);
  --elevation-shadow-24dp: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.20);
  --elevation-overlay-opacity-1dp: 0.05;
  --elevation-overlay-opacity-2dp: 0.07;
  --elevation-overlay-opacity-3dp: 0.08;
  --elevation-overlay-opacity-4dp: 0.09;
  --elevation-overlay-opacity-6dp: 0.11;
  --elevation-overlay-opacity-8dp: 0.12;
  --elevation-overaly-opacity-12dp: 0.14;
  --elevation-overlay-opacity-16dp: 0.15;
  --elevation-overlay-opacity-24dp: 0.16;
  --font-sans: Source Sans Pro;
  --font-serif: Source Serif Pro;
}

* {
  box-sizing: inherit;
}

html {
  font-family: Source Sans Pro;
  box-sizing: border-box;
  height: 100%;
  position: relative;
}

body {
  margin: 0;
  background-color: var(--color-charcoal-dark);
  color: var(--color-willow);
  height: 100%;
  position: relative;
}

.main {
  height: calc(100% - 74px);
  position: relative;
}