.container {
  border-radius: var(--surface-border-radius);
  box-shadow: var(--surface-elevation-shadow);
  background-color: var(--color-surface);
  position: relative;
  height: var(--surface-height, auto);
  width: auto;
  overflow: hidden;
}
  .container:before {
    content: '';
    z-index: 0;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: #fff;
    opacity: var(--surface-elevation-overlay-opacity);
  }
  .container > * {
    z-index: 1;
    position: relative;
  }